
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 999;
  pointer-events: auto;
}

.nav hr {
  margin: 25px 0;
  background-color: #00000040;
}

/* Mobile */
@media (max-width: 719px) {
  .navDex {
    display: none;
  }
  
  .navMobile {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-10%, 10%);
    width: 55px;
    height: 55px;
    background: #77777750;
    border: 2px solid #77777715;;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow: hidden;
    transition: .4s cubic-bezier(.76,0,.24,1);
    pointer-events: auto;
  }
  
  .active {
    width: 250px;
    height: 330px;
    backdrop-filter: blur(20px);
  }
  
  .navMobileButton {
    margin-left: auto;
    width: 35px;
    height: 35px;
    border: none;
    background: none;
    font-size: 30px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FEFEFE;
    cursor: pointer;
  }
  
  .navMobileMenu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    padding-left: 20px;
    transition: .4s;
  }
  
  .active .navMobileMenu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .navMobileMenu a {
    position: relative;
    width: fit-content;
    height: 25px;
    overflow: hidden;
    text-decoration: none;
    color: #FEFEFE;
    font-size: 24px;
    font-weight: 700;
    pointer-events: hover;
  }
  
  .navMobileMenu a span {
    display: block;
    transition: .4s cubic-bezier(.76,0,.24,1);
  }
  
  .navMobileMenu a:hover .top {
    transform: translateY(-100%);
  }
  
  .navMobileMenu a:hover .bottom {
    transform: translateY(-100%);
    opacity: 1;
  }
  
  .navMobileMenu select {
    border-radius: 0;
    border: none;
    outline: none;
    background-color: #17191b;
    color: #FEFEFE;
    font-size: 24px;
    padding: 15px 5px;
    font-family: var(--font-montserrat);
    font-weight: 600;
    border-radius: 20px;
    transition: all 0.6s ease-in-out;
  }
  
  .navMobileMenu select:focus {
    background-color: #6c7073;
    font-weight: 800;
    transition: all 0.6s ease-in-out;
  }
  
}

/* Tablet & Komputer */
@media (min-width: 720px) {
  .navMobile {
    display: none;
  }
  
  .navDex {
    position: fixed;
    top: 0;
    left: 50%;
    margin: 10px 0;
    width: 70vw;
    height: 65px;
    overflow: hidden;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #77777715;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translate(-50%, -120%);
    opacity: 0;
    transition:
      transform 0.4s ease,
      opacity 0.4s ease,
      height 0.3s ease;
  }
  
  .navDex.show {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  
  .active {
    height: 250px;
  }
  
  .navDexTop {
    width: 100%;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .navDexTop h1 {
    font-size: 40px;
    letter-spacing: 3px;
    color: #94a30d;
  }
  
  .navDexTop .navDexButton {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    border: none;
    background: #ffffff70;
    color: #17191b;
    font-size: 22px;
    cursor: pointer;
  }
  
  .navDexMenu {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: space-around;
    gap: 15px;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    transition: height .4s cubic-bezier(.76,0,.24,1);
  }
  
  .active .navDexMenu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .navDexMenu a {
    position: relative;
    height: 25px;
    overflow: hidden;
    text-decoration: none;
    color: rgb(0, 0, 0, 0.5);
    font-size: 24px;
    font-weight: 700;
  }
  
  .navDexMenu a span {
    display: block;
    transition: .4s cubic-bezier(.76,0,.24,1);
  }
  
  .navDexMenu a:hover .top {
    transform: translateY(-100%);
  }
  
  .navDexMenu a:hover .bottom {
    transform: translateY(-100%);
    opacity: 1;
  }
  
  .navDexMenu select {
    border-radius: 0;
    border: none;
    outline: none;
    background-color: #17191b20;
    color: #FEFEFE;
    font-size: 24px;
    padding: 10px 5px;
    font-family: var(--font-montserrat);
    font-weight: 600;
    border-radius: 20px;
    transition: all 0.6s ease-in-out;
  }
  
  .navDexMenu select:focus {
    background-color: #6c707320;
    font-weight: 800;
    transition: all 0.6s ease-in-out;
  }
  
}